/*!
 * Start Bootstrap - Blog Home (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.well .cat-item {
    list-style: none;
}

.navigation ol.wp-paginate {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

.navigation ol.wp-paginate li {
    display: inline;
    line-height: 1.5em;
}

.navigation ol.wp-paginate li > a,
.navigation ol.wp-paginate li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    color: #337ab7;
}

.navigation .wp-paginate a:hover{
    background-color: #eee;
    text-decoration: none;
}

.navigation a.next{
    float: right;
}

.navigation a.prev{
    float: left;
}

.navigation{
    text-align: center;
}