@font-face {
	font-family: 'social';
	src: url('../fonts/social.eot');
	src: url('../fonts/social.eot?#iefix') format('embedded-opentype'), url('../fonts/social.woff') format('woff'), url('../fonts/social.ttf') format('truetype'), url('../fonts/social.svg#social') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Hack to fix Chrome font rendering issues */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'social';
		src: url('../fonts/social.svg#social') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

.social_links a {
	font-family: 'social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color:#888;
	color:#fff;
	font-size:32px;
	text-underline:none;
	display:inline-block;
}

.social_links a.google:before {
	content: "\67";
}
.social_links a.pinterest:before {
	content: "\70";
}
.social_links a.linkedin:before {
	content: "\6c";
}
.social_links a.twitter:before {
	content: "\54";
}
.social_links a.facebook:before {
	content: "\66";
}
.social_links a.reddit:before {
	content: "\72";
}
.social_links a.tumblr:before {
	content: "\74";
}
.social_links a.buffer:before {
	content: "\62";
}
.social_links a.delicious:before {
	content: "\64";
}
.social_links a.stumbleupon:before {
	content: "\73";
}
.social_links a.digg:before {
	content: "\3b";
}

.social_links a {
	text-align:center;
	width: 32px;
	height: 32px;
	margin: 0 5px 5px 0;
	opacity: 0.5;
	display: inline-block;
	line-height: 32px;
	text-decoration: none;
	-webkit-transition-property: opacity, color, background-color, -webkit-transform, -webkit-box-shadow;
	-moz-transition-property: opacity, color, background-color, -moz-transform, -moz-box-shadow;
	-o-transition-property: opacity, color, background-color, -o-transform, -o-box-shadow;
	transition-property: opacity, color, background-color, transform, box-shadow;
	-webkit-transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
	-moz-transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
	-o-transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
	transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
	-webkit-transition-timing-function: ease-in, linear, linear, linear, linear;
	-moz-transition-timing-function: ease-in, linear, linear, linear, linear;
	-o-transition-timing-function: ease-in, linear, linear, linear, linear;
	transition-timing-function: ease-in, linear, linear, linear, linear;
	
	color: #fff !important; /* to compensate for badly designed website stylesheets that contain !important on anchor tags */
	text-decoration: none;
	border: 1px solid #777;
	border-color: rgba(0, 0, 0, 0.2);
	border-bottom-color: #333;
	border-bottom-color: rgba(0, 0, 0, 0.4);
	font-size: 24px;
	-moz-box-shadow: 0 0 12px #000000;
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0 12px #000000;
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 12px #000000;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}

.social_links a:hover {
	opacity: 1;
	-moz-box-shadow: 0 0 6px #000000;
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0 6px #000000;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 6px #000000;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}


.social_links .facebook {
	background-color: #4863ae;
}

.social_links .google {
	background-color: #dd4b39;
}

.social_links .twitter {
	background-color: #46c0fb;
}

.social_links .pinterest {
	background-color: #c91618;
}

.social_links .linkedin {
	background-color: #0083a8;
}

.social_links .buffer {
	background-color: #000;
}

.social_links .digg {
	background-color: #164673;
}

.social_links .reddit {
	background-color: #FFF;
	color: #F00 !important; /* to compensate for badly designed website stylesheets that contain !important on anchor tags */
}

.social_links a.reddit:hover {
	color: #F00 !important; /* to compensate for badly designed website stylesheets that contain !important on anchor tags */
}

.social_links .tumblr {
	background-color: #374a61;
}

.social_links .stumbleupon {
	background-color: #eb4924;
}

.social_links .delicious {
	background-color: #3274D1;
}